.Advantage {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  .back {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    background-color: red;
    border-radius: 0.25em;
    color: white;

    div {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 20px;
    }

    img {
      flex-grow: 1;
      max-width: 85%;
    }
  }

  .front {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    position: absolute;
    top: 0;
    text-align: center;
    border-radius: 0.25em;
    padding: 15px;
  }
}

/* entire container, keeps perspective */
.Advantage {
  perspective: 1000px;
}
/* flip the pane when hovered */
.Advantage:hover .flip,
.Advantage.hover .flip {
  transform: rotateY(180deg);
}

.Advantage,
.front,
.back {
  width: 500px;
  height: 281px;
}

/* flip speed goes here */
.flip {
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

/* hide back of pane during swap */
.front,
.back {
  backface-visibility: hidden;

  //position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}
