@import "../global.scss";

.ImageAndText {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  min-height: 50vh;
  margin: 20px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;

  .textSection {
    @include center;
    color: white;
    max-height: 100%;
    width: 50%;
    padding: 10px;
    text-align: left;
    font-size: 30px;

    .text {
      max-width: 25em;
      text-shadow: 1px 1px 1px black;
      background: #46464661;
      padding: 35px 10px;
      border-radius: 0.25rem;
      box-shadow: 3px 3px 2px #353434ba;
    }
  }

  .imageSection {
    @include center;
    max-height: 100%;
    width: 50%;

    img {
      max-height: 100%;
      height: 80%;
      width: auto;
      max-width: 100%;
      border: 3px solid white;
      border-radius: 0.25rem;
    }
  }
}

@media only screen and (max-width: 1125px) {
  .ImageAndText {
    height: auto;

    .textSection,
    .imageSection {
      width: 100%;
    }

    .imageSection {
      img {
        max-height: 100%;
      }
    }
  }
}
