@import "../global.scss";

.TextWithCTO {
  @include center;
  flex-direction: column;
  min-height: 50vh;
  padding: 30px;

  .text {
    @include whiteFontWithShadow(56px);
    text-align: center;
    width: 70%;
  }

  .CallToActionButton {
    margin-top: 20px;
  }
}

@media screen and (max-width: 1145px) {
  .TextWithCTO {
    .text {
      font-size: 35px;
    }
  }
}

@media screen and (max-width: 435px) {
  .TextWithCTO {
    .text {
      font-size: 30px;
    }
  }
}
