@import "./global.scss";

.battle {

  display: flex;

  .characterCreator {
    width: 20%;
    margin: 0 10px;
  }

  .battleFighterList {
    width: 80%;

    .fighterCard {
      width: calc(30% - 10px);
    }
  }
}