@import url("https://fonts.googleapis.com/css?family=Noto+Serif&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap");
body * {
  padding: 0;
  margin: 0;
}

$headerBackground: linear-gradient(
  to bottom,
  #104e82 0%,
  darken(#104e82, 10%) 70%,
  #030a2446 100%
);
$footerBackground: linear-gradient(
  to bottom,
  #030a2446 0%,
  darken(#104e82, 10%) 30%,
  #104e82 100%
);

$heroHeaderColor: linear-gradient(to bottom, #fefcea 0%, #f1da36 100%);
$enemyHeaderColor: linear-gradient(
  to bottom,
  rgba(255, 48, 25, 1) 0%,
  rgba(207, 4, 4, 1) 100%
);
$characterCardColor: rgba(233, 233, 233, 0.562);

$formLabelSize: 19px;

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin roundButton($size) {
  width: $size;
  height: $size;
  border-radius: 50%;
}

@mixin appBackground {
  background-image: url("./background.png");
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.svgIconButton {
  height: 1.5em;
  margin: 0 7px;
}

.siteHeading {
  color: white;
  margin-left: 15px;
}

//modalFix
.popover {
  z-index: 2 !important;
}

.App {
  //@include appBackground;
  min-height: 100vh;
}

.romanFont {
  font-family: "Noto Serif", serif;
}
