@import url("https://fonts.googleapis.com/css?family=Noto+Serif&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap");

@import url("https://fonts.googleapis.com/css?family=Ubuntu:700&display=swap");

body * {
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}

//bootstrap change
.btn-secondary {
  background-color: #4f5051;
  border-color: #4f5051;
}

$headerBackground: linear-gradient(
  to bottom,
  #104e82 0%,
  darken(#104e82, 10%) 70%,
  #030a2446 92%,
  #22222200 100%
);
$footerBackground: linear-gradient(
  to bottom,
  #22222200 0%,
  #030a2446 8%,
  darken(#104e82, 10%) 30%,
  #104e82 100%
);

$heroHeaderColor: linear-gradient(to bottom, #3cd582 0%, #4d8447 100%);
$enemyHeaderColor: linear-gradient(to bottom, #ff1b9a 0%, #7d0f3d 100%);
$characterCardColor: rgba(233, 233, 233, 0.562);

$formLabelSize: 19px;

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin roundButton($size) {
  width: $size;
  height: $size;
  border-radius: 50%;
}

@mixin appBackground {
  background-image: url("./background.png");
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.svgIconButton {
  height: 1em;
  margin: 0 7px;
}

.siteHeading {
  color: white;
  margin-left: 15px;
}

//modalFix
.popover {
  z-index: 2 !important;
}

.App {
  min-height: 100vh;
}

.romanFont {
  font-family: "Noto Serif", serif;
}
