/*Google Fonts*/
@import url("https://fonts.googleapis.com/css?family=Noto+Serif&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap");

@import url("https://fonts.googleapis.com/css?family=Ubuntu:700&display=swap");


$headerBackground: linear-gradient(
  to bottom,
  #104e82 0%,
  darken(#104e82, 10%) 70%
);

$footerBackground: linear-gradient(
  to bottom,
  darken(#104e82, 10%) 30%,
  #104e82 100%
);

$heroHeaderColor: linear-gradient(to bottom, #3cd582 0%, #4d8447 100%);
$enemyHeaderColor: linear-gradient(to bottom, #ff1b9a 0%, #7d0f3d 100%);
$characterCardColor: rgba(233, 233, 233, 0.562);

$formLabelSize: 19px;

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin roundButton($size) {
  width: $size;
  height: $size;
  border-radius: 50%;
}

@mixin whiteFontWithShadow($fontSize) {
  color: white;
  font-size: $fontSize;
  text-shadow: 1px 1px 1px black;

}

@mixin appBackground {
  background-image: url("./background.png");
}

:export {
  header: $headerBackground;
}