@import "./global.scss";

.header {
  .menu {
    font-family: "Noto Sans JP", sans-serif;
    height: 80px;
    padding: 5px 5px 10px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $headerBackground;

    .menuLinks {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .menuLink {
      font-size: 27px;
      margin-right: 20px;
      color: rgb(212, 212, 212);
      font-weight: bold;
      text-shadow: 3px 3px 2px #000000;
      cursor: pointer;
    }

    .activeMenuLink {
      color: gray;
    }
  }
}
