@import "./global.scss";

.hero {
  .heroHeader {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: $heroHeaderColor;

    font-size: 32px;
    font-weight: 700;
    font-style: italic;
    text-shadow: 2px 2px 6px #000;
    color: white;

    .heroButtons {
      display: flex;
      position: absolute;
      top: -13px;
      right: -8px;

      .conditionButton {
        @include center;
        @include roundButton(50px);
        font-size: 21px;
        border: 2px solid white;
        margin-left: 10px;
        padding: 0;

        background: rgb(195, 193, 34);
        background: linear-gradient(
          0deg,
          rgba(195, 193, 34, 1) 0%,
          rgba(253, 187, 45, 1) 100%
        );

        &:hover {
          background: rgb(219, 217, 37);
          background: linear-gradient(
            0deg,
            rgba(219, 217, 37, 1) 0%,
            rgba(255, 186, 38, 1) 100%
          );
        }

        svg {
          margin: 0;
          font-size: 25px;
        }
      }
    }
  }

  .heroInner {
    background: $characterCardColor;
    padding: 5px;

    .pointsHeroContainer {
      min-height: 105px;
    }
  }

  .lep,
  .asp,
  .kap {
    width: 100%;
    height: 45px;
    margin: 10px 0;
  }
}
