@import "./global.scss";

$headerBackground: rgb(82, 82, 82);
$bodyBackground: rgb(230, 230, 230);

.ModalBox {
  .modalBody {
    background: $bodyBackground;
  }
}

.popover {
  max-width: 100% !important;
}

.modalHeader {
  background: $headerBackground;
  color: white;

  .close {
    color: white;
  }
}
