@import './global.scss';

.pointsContainer {
  display: flex;
  position: relative;
  border-radius: 10px;
  height: 50px;
  padding: 0 4%;

  .pointsHero {
    display: flex;
    width: 100%;
    height: 100%;
  }
  
   .pointsButton {
    @include center;
    width: 5%;
    cursor: pointer;
    height: 100%;
    position: absolute;

  }

}



.subButton {
  border-right: 1px solid rgb(255, 255, 255);
  left: 0;
}

.addButton {
  border-left: 1px solid rgb(255, 255, 255);
  right: 0;
}
