.pointsContainer {
  border: 1px solid black;
  display: flex;
  border-radius: 10px;
}

.pointsContainer .pointsHero {
  width: 80%;
}

.pointsContainer .pointsButton {
  text-align: center;
  display: inline-block;
  width: 10%;
  cursor: pointer;
}

.subButton {
  border-right: 1px solid black;
}

.addButton {
  border-left: 1px solid black;
}
