@import "./global.scss";

.purse {
  /*   display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(115px, 1fr));

  .purseSection {
    margin-top: 5px;
    @include center;
  }

  .coinImage {
    width: 30px;
  }

  input {
    width: 2em;
    height: 100%;
    text-align: center;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
  }

  .btn {
    @include center;
    border-radius: 0;
    width: 10px;
  }
}
